/* Макросики */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-nav-color: #2196f3;
  --hover-button-color: #2196f3;
  --hover-button-text-color: #ffffff;
}

/* Тельце */
body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
}

/* Обнуление */
ul {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: inherit;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Общая рамка */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid tomato; */
}

/*! HEADER */
/* Лого */
header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logow {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logob {
  color: var(--hover-nav-color);
}

/* Навигация */
.container.navigation {
  display: flex;
  height: 80px;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-info {
  display: flex;
  margin-left: auto;
}

.site-info .item:not(:last-child) {
  margin-right: 50px;
}

/* Ссылки и взаимодействие с ними */
.link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-contacts {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus,
.link-current {
  color: var(--hover-nav-color);
}

/*! MAIN INDEX */
/* Герой */
.hero {
  color: #ffffff;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../image/studio/bg-hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero h1 {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 675px;
  margin: 0 auto 30px;
}

.hero a {
  display: inline-block;
  color: #ffffff;
  background-color: var(--hover-nav-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  text-align: center;
}

/* Особенности */
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */
.employment {
  text-align: center;
  padding-bottom: 94px;
}

.employment h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.employment-list {
  display: flex;
}

.employment-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  text-align: center;
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 97px;
}

.team h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding: 30px 0px;
  margin: 0 10px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

/*! FOOTER */
/* Футер */
footer {
  background-color: #2f303a;
  color: #ffffff;
  padding: 60px 0px;
}

address {
  font-style: normal;
  margin-top: 20px;
}

.contacts {
  font-size: 14px;
  line-height: 1.71;
}

.contacts .link-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.contacts .item:not(:last-child) {
  margin-bottom: 9px;
}

/*! MAIN PORTFOLIO */
/* Кнопки фильтра портфолио */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  margin-bottom: 56px;
  justify-content: center;
}

.filter button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter button:hover,
.filter button:focus {
  color: #ffffff;
  background-color: var(--hover-nav-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфолио */
.content {
  display: flex;
  flex-wrap: wrap;
}

.content .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.content .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.content .card-description {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
  max-width: 370px;
}

.content .description {
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.content .class {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
